@{
    ViewData["Title"] = "Начална";
}

<div>
    <div class="puhcho-text">Пухчо</div>
    <a asp-area="" asp-controller="Pet" asp-action="Info" class="btn btn-puhcho" style="padding: 0.5rem 1rem; font-size: 1rem;">&#8594;</a>

</div>
